{% set show_image = header_var('show_pageimage')|defined(true) %}
{% set image = page.media[header.featured_image] ?: page.media.images|first %}
{% set show_title = header_var('show_title')|defined(true) %}
{% set title = page.title|raw  %}

<section id="banner">
    <div class="content">
        <header>
        {% if show_title %}<h2>{{ title }}</h2>{% endif %}
        {% if page.header.subtitle %}
            <p>{{page.header.subtitle|raw}}</p>
        {% endif %}
        </header>
        {{page.content|raw}}
        {% if page.header.button_text is not null or page.header.button_url is not null %}
        <ul class="actions">
            <li><a href="{{page.header.button_url}}" class="button big">{{page.header.button_text}}</a></li>
        </ul>
        {% endif %}
    </div>
    {% if show_image == true and image ?? null %}
        <span class="image object">
            {{ image.cropZoom(736,512).loading('lazy').decoding('async').html(title,title,'')|raw }}
        </span>
    {% endif %}
</section>
