<section>
<header class="major">
    <h2>{{ page.title|raw }}</h2>
</header>

    <div class="posts">
    {% for p in page.find('/blog').children.order('date', 'desc').slice(0,3) %}
        

        
        <article>
            {% if p.header.primaryImage %}
            <a href="{{p.url}}" class="image"><img src="{{ p.media[p.header.primaryImage].url|e}}"></a>
            {% endif %}
            <h3>{{p.title}}</h3>
                <p>
                {% if p.summary != p.content %}
                        {{ p.summary|raw }}
                    {% else %}
                        {{ p.content|raw }}
                    {% endif %}
                </p>
            <ul class="actions">
                <li><a href="{{p.url}}" class="button">More</a></li>
            </ul>
        </article>
       

    {% endfor %}

     </div>
</section>
