{% set show_title = header_var('show_title')|defined(true) %}
{% set title = page.title|raw  %}

<section>
<header class="major">
    {% if show_title %}<h2>{{ title }}</h2>{% endif %}
    {% if page.header.subtitle %}<p>{{ page.header.subtitle|raw }}</p>{% endif %}
</header>
    {{ content|raw }}

    <div class="features">
    {% for feature in page.header.features %}
        <article>
            
                {% if feature.icon %}<span class="icon {{feature.icon}}"></span>{% endif %}
                <div class="content">
                    {% if feature.title %}
                    <h3>
                        {% if feature.url %}
                            <a href="{{feature.url}}" target="_blank">{{feature.title}}</a>
                        {% else %}
                            {{feature.title}}
                        {% endif %}
                    </h3>
                    {% endif %}
                    {% if feature.text %}<p>{{feature.text}}</p>{% endif %}
                </div>
            
        </article>
    {% endfor %}
     </div>
</section>
