{% set show_title = header_var('show_title')|defined(true) %}
{% set title = page.title  %}

<section>
<header class="major">
    {% if show_title %}<h2>{{ title|e }}</h2>{% endif %}
    {% if page.header.subtitle %}{{ page.header.subtitle|markdown }}{% endif %}
</header>
    {{ content|raw }}

    <div class="features">
    {% for feature in page.header.features %}
        <article>
            
                {% if feature.icon %}<span class="icon {{ feature.icon }}"></span>{% endif %}
                <div class="content">
                    {% if feature.title %}
                    <h3>
                        {% if feature.url %}
                            <a href="{{ feature.url|e }}" target="_blank">{{ feature.title|e }}</a>
                        {% else %}
                            {{ feature.title|e }}
                        {% endif %}
                    </h3>
                    {% endif %}
                    {% if feature.text %}<p>{{ feature.text|markdown }}</p>{% endif %}
                </div>
            
        </article>
    {% endfor %}
     </div>
</section>
