{# Set columns for team page #}
{% set columns = page.header.layout == 'standard' ? 'col-4' : 'col-6'  %}

{% set show_title = header_var('show_title')|defined(true) %}
{% set title = page.title|raw  %}

<section id="team">
<header class="major">
    {% if show_title %}<h2>{{ title }}</h2>{% endif %}
    {% if page.header.subtitle %}<p>{{ page.header.subtitle|raw }}</p>{% endif %}
</header>
    {{ content|raw }}

{# Team container #}
<div class="team">

    {# Members list #}
    {% for member in page.header.team %}
    <div class="member {{ columns }}">
        <div class="text">
            {% set member_image = page.media[member.image] %}
            {{ member_image.html(member.name,member.name,'')|raw }}
            <h3>{{ member.name|raw }}</h3>
            <p>{{ member.position|raw }}</p>
            <p>{{ member.details|raw }}</p>
        </div>
        <div class="links">
            {% for item in member.social_media %}
            {# Fontawesome icons only work with brands family #}
            <a class="icon brands fa-{{ item.name|lower|raw }}" 
            target="_blank" 
            href="{{ item.url }}" 
            alt="{{ item.name|raw }}" 
            title="{{ item.name|raw }}">
            </a>
            {% endfor %}
        </div>
    </div>
    {% endfor %}
</div>
</section>