{% set theme_config = attribute(config.themes, config.system.pages.theme) %}
<!DOCTYPE html>
<html lang="{{ grav.language.getActive ?: config.site.default_lang }}">
<head>
{% block head %}
    <meta charset="utf-8" />
    <title>{% if header.title %}{{ header.title|e('html') }} | {% endif %}{{ site.title|e('html') }}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% include 'partials/metadata.html.twig' %}
    <link rel="icon" type="image/png" href="{{ url('theme://images/logo.png') }}" />
    <link rel="canonical" href="{{ page.url(true, true) }}" />

    {% block stylesheets %}
        {% do assets.addCss('theme://assets/css/main.min.css', 97) %}
        {% do assets.addCss('theme://assets/css/custom.css', 10) %}
    {% endblock %}
    {{ assets.css() }}

    {% block javascripts %}
        {% do assets.addJs('theme://assets/js/jquery.min.js', {'priority':100, 'group':'bottom'}) %}
        {% do assets.addJs('theme://assets/js/util.js', {'priority':98, 'group':'bottom'}) %}
        {% do assets.addJs('theme://assets/js/main.js', {'priority':97, 'group':'bottom'}) %}
        {% do assets.addJs('theme://assets/js/breakpoints.min.js', {'priority':101, 'group':'bottom'}) %}
        {% do assets.addJs('theme://assets/js/browser.min.js', {'priority':102, 'group':'bottom'}) %}

    {% endblock %}
    {{ assets.js() }}

    {% block assets %}
        {{ assets.css() }}
        {{ assets.js() }}
    {% endblock %}

{% endblock head%}
</head>
<body id="top" class="{{ page.header.body_classes }}">

<div id="wrapper">
    <div id="main">
        <div class="inner">
            {% block header %}
            <header id="header">
                <a class="logo" href="{{ base_url == '' ? '/' : base_url }}"><strong>{{ config.site.title }}</strong> {{theme_config.themeSlogan}}</a>
                {% include 'partials/socialIcons.html.twig' %}
            </header><!-- End #header -->
            {% endblock %}
            
            {% block body %}

                {% block content %}{% endblock %}

            {% endblock %}

        </div> <!-- End .inner -->
    </div><!-- End #main -->

{% block sidebar %}
    {%  include 'partials/sidebar.html.twig' %}
{% endblock %}


</div> <!--End #wrapper -->
{% block bottom %}
    {{ assets.js('bottom') }}
{% endblock %}

</body>
</html>
