 {% set primaryImage = ((page.header.primaryImage)|first) %}

<article>
    {% if primaryImage %}
    <a href="{{page.url}}" class="image"><img src="{{ page.media[primaryImage.name].url }}" alt="" /></a>
    {% endif %}
    <h3>{{page.title}}</h3>
        <p>
        {% if page.summary != page.content %}
                {{ page.summary|raw }}
            {% else %}
                {{ page.content|raw }}
            {% endif %}
        </p>
    <ul class="actions">
        <li><a href="{{page.url}}" class="button">More</a></li>
    </ul>
</article>
