{% set image = page.media[page.header.featured_image] ?: page.media.images|first %}
{% set title = page.title %}
{% set readmore_txt = blog.header.readmore_text|raw|default('Read more') %}

<article>
    {% if image %}
    <a href="{{page.url}}" class="image">
        {{ image.cropZoom(416,256).loading('lazy').attribute('width', '300').attribute('height','300').html(title,title,'')|raw }}
    </a>
    {% endif %}
    <h3>{{page.title}}</h3>
    {# Set page date stamp #}
    {% if (page.header.publish_date) %}
        {% set datestamp = page.header.publish_date %}
    {% elseif (page.header.date) %}
        {% set datestamp = page.header.date %}
    {% else %}
        {% set datestamp = page.modified %}
    {% endif %}
    {% if datestamp %}
    <p class="data-post">
        {{'EDITORIAL.ITEM.POSTED_ON'|t}} {{ datestamp|date(system.pages.dateformat.short)  }}
    </p>
    {% endif %}
    <p>
    {% if page.summary != page.content %}
            {{ page.summary|striptags|raw }}
        {% else %}
            {{ page.content|striptags|raw }}
        {% endif %}
    </p>
    <ul class="actions">
        <li><a href="{{page.url}}" class="button">{{readmore_txt}}</a></li>
    </ul>
</article>
