{% set featuredPages = page.collection({'items':{'@taxonomy':{'category': 'featured'}},'order': {'by': 'default', 'dir': 'asc'}}).remove(page).slice(0,3) %}
{% if count(featuredPages) > 0 %}
<section>
    <header class="major">
            <h2>Featured</h2>
    </header>
    <div class="mini-posts">
        {% for p in featuredPages %}
            <article>
                <a href="{{ p.url }}" class="featured-title"><h2>{{ p.title|raw }}</h2></a>
                {% if p.header.primaryImage %}
                   <a href="{{ p.url }}" class="image"><img src="{{ p.media[p.header.primaryImage].url|e}}"></a>
                {% endif %}

                <p>{{ p.summary(100)|raw }}</p>
            </article>
        {% endfor %}
    </div>
    <!--
    <ul class="actions">
            <li><a href="#" class="button">More</a></li>
    </ul>
    -->

</section> <!-- End of featured Section -->
{% endif %}