{% set logo_style = (not logo_enabled or logo is empty) ? 'text-align:left !important;' : '' %}
{% set logo_enabled = theme_var('custom_logo_enabled')|defined(false) %}
{% set logo = theme_var('custom_logo_mobile') ?: theme_var('custom_logo') %}
{% set slogan = theme_config.themeSlogan %}
{% set social = theme_var('social_enabled')|defined(false) %}

<header id="header">
    {% if logo_enabled and logo %}
        <!-- If logo is defined, include logo template here -->
        {{ include('partials/logo.html.twig') }}
    {% endif %}
    {% if page.home() %}
        <h1>
    {% endif %}
    <a class="logo" {% if logo_style %}style="{{ logo_style }}"{% endif %} href="{{ base_url == '' ? '/' : base_url }}">
        <strong>
            {{ config.site.title }}
        </strong>
        {% if slogan %}
            <span class="slogan">
                {{ slogan }}
            </span>
        {% endif %}
    </a>
    {% if page.home() %}
        </h1>
    {% endif %}
    {% if social %}
        <!-- If socials icons are defined, include template here -->
        {{ include('partials/social.html.twig') }}
    {% endif %}
</header>
