<!-- Login -->
{% if config.plugins.login.enabled %}
<section id="login">
    <header class="major">
        <h2>{{ 'EDITORIAL.SIDEBAR.LOGIN_SECTION'|t }}</h2>
    </header>

    <ul class="actions fit">
    {% if not grav.user.authenticated %}
    <li><a href="{{ base_url_absolute }}{{config.plugins.login.route}}" class="button">{{ 'PLUGIN_LOGIN.BTN_LOGIN'|t }}</a></li>
    {% else %}
    <li>Logged as: <strong>{{ grav.user.fullname ?: grav.user.username }}</strong></li>
    <li><a class="button" href="{{ url(uri.addNonce((uri.path)|trim('/') ~ '/task' ~ config.system.param_sep ~ 'login.logout', 'logout-form', 'logout-nonce'))|e }}">{{ 'PLUGIN_LOGIN.BTN_LOGOUT'|t }}</a></li>
    {% endif %}
    </ul>
</section>
{% endif %}