{% import 'macros/macros.html.twig' as macros %}
<ul>
    {% if config.theme.dropdown.enabled %}
        {{ macros.nav_loop(pages) }}
    {% else %}
        {% for page in pages.children.visible %}
            {% set current_page = (page.active or page.activeChild) ? 'active' : '' %}
            <li class="{{ current_page|e }}">
                <a href="{{ page.url|e }}">
                    {% if page.header.icon %}<i class="fa fa-{{ page.header.icon|e }}"></i>{% endif %}
                    {{ page.menu|e }}
                </a>
            </li>
        {% endfor %}
    {% endif %}
    {% if theme_var('custommenu_enabled') %}
    {% for mitem in theme_var('custommenu') %}
        <li>
            <a href="{{ mitem.url }}" target="{{ mitem.target }}">
                {% if mitem.icon %}
                    <i class="fa fa-{{ mitem.icon }}"></i>
                {% endif %}
                {{ mitem.text }}</span>
            </a>
        </li>
    {% endfor %}
    {% endif %}
</ul>
