<ul class="icons" {% if right_sidebar %} style="right: unset; left: -0.5em;" {% endif %}>
  {% for item in theme_config.social %}
    {% set icon_class = item.icon_type|default('brands') %}
    {# Ensure icon has fa- prefix #}
    {% set icon_name = item.icon starts with 'fa-' ? item.icon : 'fa-' ~ item.icon %}
    {% if item.icon != 'mastodon' and icon_name != 'fa-mastodon' %}
      <li><a href="{{ item.url }}" class="icon {{ icon_class }} {{ icon_name }}" title="{{ item.name }}" target="{{ item.target }}"><span class="label">{{ item.name }}</span></a></li>
    {% else %}
      <li><a href="{{ item.url }}" rel="me" class="icon {{ icon_class }} {{ icon_name }}" title="{{ item.name }}" target="{{ item.target }}"><span class="label">{{ item.name }}</span></a></li>
    {% endif %}
  {% endfor %}
</ul>
