{% set taxlist = children_only ?? true ? taxonomylist.getChildPagesTags() : taxonomylist.get() %}

{% if taxlist and page.template == 'blog' %}
<section>
    <header class="major">
        <h2>{{ 'EDITORIAL.SIDEBAR.TAXONOMYLIST.LABEL'|t }}</h2>
    </header>
    <ul class="tags">
        {% for tax,value in taxlist[taxonomy] %}
            {% set label_class = uri.param(taxonomy) == tax ? 'warning' : 'primary' %}
            <li>
                <a class="button medium {{ label_class }}" href="{{ base_url }}/{{ taxonomy }}{{ config.system.param_sep }}{{ tax }}">{{ tax }}</a>
            </li>
        {% endfor %}
    </ul>
</section>
{% endif %}
