<!-- Section -->
<section>
    <header class="major">
        <h2>{{ 'EDITORIAL.SIDEBAR.CONTACT_INFO'|t }}</h2>
    </header>
    <p>{{ theme_config.contact.text|raw }}</p>
    <ul class="contact">
        
        {% if theme_config.contact.email %}
        <li class="icon solid fa-envelope"><a href="mailto:{{ theme_config.contact.email|safe_email }}">{{ theme_config.contact.email|safe_email }}</a></li>
        {% endif %}

        {% if theme_config.contact.phone %}
        <li class="icon solid fa-phone">{{ theme_config.contact.phone|raw }}</li>
        {% endif %}
        
        {% if theme_config.contact.street %}
        <li class="icon solid fa-home">{{ theme_config.contact.street|raw }}<br />
        {{ theme_config.contact.city|raw }}, {{ theme_config.contact.state|raw }} {{ theme_config.contact.zip|raw }}
        </li>
        {% endif %}
    </ul>
</section>
