{% extends 'partials/base.html.twig' %}
{% set address_details = page.header.addressDetails %}

{% block content %}

	<header class="main">   
	{% if show_image and image %}
	    <span class="image main">
		{{ image.cropZoom(img_width, img_height).loading('lazy').decoding('async').html(title,title,'')|raw }}
	    </span>
	{% endif %}
	{% if show_title %}<h1>{{ title }}</h1>{% endif %}
    {% if page.header.subtitle %}<p>{{ page.header.subtitle|raw }}</p>{% endif %}
	</header>
	<div>
	    <p class="lead">{{ page.content|raw }}</p>
		{% include "forms/form.html.twig" with { form: forms('contact-form')} %}
	</div>
	{% if address_details %}
	<div>
		<hr>
		{{ address_details|markdown|shortcodes|raw }}
	</div>
	{% endif %}
		
{% endblock %}

