{% extends 'partials/base.html.twig' %}

{% block content %}
    <header class="main">   
	{% if show_image and image %}
	    <span class="image main">
		{{ image.cropZoom(img_width, img_height).loading('lazy').decoding('async').html(page_title,page_title,'')|raw }}
	    </span>
	{% endif %}
	{% if show_title %}<h1>{{ page_title|e }}</h1>{% endif %}
    {% if page.header.subtitle %}{{ page.header.subtitle|markdown }}{% endif %}
	</header>
	<div>
	    {{ page.content|raw }}

        <table class="responsive">
        <thead>
            <tr>
                <th><strong class="h3">{{ 'EDITORIAL.ADMIN.MODULAR.DOWNLOADS.TH_NAME'|t }}</strong></th>
                <th><strong class="h3">{{ 'EDITORIAL.ADMIN.MODULAR.DOWNLOADS.TH_SIZE'|t }}</strong></th>
                <th><strong class="h3">{{ 'EDITORIAL.ADMIN.MODULAR.DOWNLOADS.TH_MODIFIED'|t }}</strong></th>
                <th><strong class="h3">{{ 'EDITORIAL.ADMIN.MODULAR.DOWNLOADS.TH_DOWNLOAD'|t }}</strong></th>
            </tr>
        </thead>
        <tbody>
        
        {% for file in page.media.all %}
            <tr>
                {% include 'partials/download_item.html.twig' with {file: file} %}
            </tr>
        {% endfor %}
        
        </tbody>
        </table>
	</div>
{% endblock %}