{% extends 'partials/base.html.twig' %}

{% block content %}

  <header class="main">   
	  <h1><a href="{{ home_url }}">{{ site.title }}</a></h1>
    <h2>{{ 'PLUGIN_ERROR.ERROR'|t }} {{ page.header.http_response_code }}</h2>
	</header>
	<div>
	    {{ page.content|raw }}
	</div>
  
{% endblock %}
