{% extends 'partials/base.html.twig' %}
{% set datestamp = include('partials/page-bits/date.html.twig') %}

{% block content %}
  
  <article>
    <header>
        <h1>{{ form.message }}</h1>
      </div>
      <p class="data-post">
        <br><small itemprop="datePublished"><i class="far fa-clock"></i> {{ 'EDITORIAL.ITEM.POSTED_ON'|t }} {{ datestamp }}</small>
      </p>
    </header>
    <p>{{'EDITORIAL.FORM_SUMMARY'|t}}</p>
      
      {{ content|raw }}
      {% include "forms/data.html.twig" %}
      
  </article>
{% endblock %}
