{% extends 'partials/base.html.twig' %}

{% set blog = page.find(header_var('blog_url')|defined(theme_var('blog-page'))) %}
{% set new_base_url = blog.url == '/' ? '' : blog.url %}
{% set show_pagination = header_var('content.pagination')|defined(true) %}
{% set show_breadcrumbs = header_var('content.breadcrumbs')|defined(false) %}
{% set image = page.media[page.header.featured_image] ?: page.media.images|first %}
{% set title = page.title %}

{% block content %}
    <p>
    {% if show_breadcrumbs and config.plugins.breadcrumbs.enabled %}
        {% include 'partials/breadcrumbs.html.twig' %}
    {% endif %}
    </p>
<article itemscope itemtype="http://schema.org/Article">
    <header>
        <h1 itemprop="name headline">{{ page.title }}</h1>
        {% if page.header.subtitle %}<p>{{ page.header.subtitle|raw }}</p>{% endif %}
        <p class="data-post">
        {% if config.plugins.readingtime.enabled %}<small><i class="fas fa-book-reader"></i> {{ page.content|readingtime}}</small>{% endif %}
        {% if (page.header.publish_date) %}
            {% set datestamp = page.header.publish_date %}
        {% elseif (page.header.date) %}
            {% set datestamp = page.header.date %}
        {% else %}
            {% set datestamp = page.modified %}
        {% endif %}
        {% if datestamp %}
        <br><small itemprop="datePublished"><i class="far fa-clock"></i> Posted on {{ datestamp|date(system.pages.dateformat.short) }}</small>
        {% endif %}
        {% if page.taxonomy.author %}<br><small itemprop="author" itemscope itemtype="https://schema.org/Person"><i class="fas fa-user"></i>
        {% for author in page.taxonomy.author %}
        <a href="{{ new_base_url }}/author{{ config.system.param_sep }}{{ author }}"><span itemprop="name">{{ author|capitalize }}</span></a>
        {% if not loop.last %}, {% endif %}
        {% endfor %}
        </small>{% endif %}
        </p>
        
    </header>
    {% if image %}
        <span class="image main" itemprop="image">{{ image.cropZoom(1000,300).loading('lazy').html(title,title,'image')|raw }}</span>
    {% endif %}
    <div itemprop="articleBody">
        {{ page.content|raw }}
    </div>
    <p>
        {% if page.taxonomy.tag %}
        <span>
           <i class="fas fa-tags"></i>
            {% for tag in page.taxonomy.tag %}
                <a class="tags" title="{{ 'See other posts in ' ~ (tag|capitalize) }}" 
                href="{{ new_base_url  }}/tag{{ config.system.param_sep }}{{ tag }}" itemprop="url"><span itemprop="keywords">{{ tag|capitalize }}</span></a>
                {% if not loop.last %}, {% endif %}
            {% endfor %}
        </span>
        {% endif %}
        
        {% if page.taxonomy.category %}
        <span>
            <i class="fas fa-link fa-md"></i>
            {% for category in page.taxonomy.category %}
                <a class="tags" title="{{ 'See other posts in ' ~ (category|capitalize) }}"
			    href="{{ new_base_url }}/category{{ config.system.param_sep }}{{ category }}" itemprop="url"><span itemprop="keywords">{{ category|capitalize }}</span></a>
                {% if not loop.last %}, {% endif %}
            {% endfor %}
        </span>
        {% endif %}
        
        {% if page.taxonomy.author %}
        <span itemprop="author" itemscope itemtype="http://schema.org/Person">
            <i class="fas fa-user fa-md"></i>
            {% for author in page.taxonomy.author %}
                <a class="tags" title="{{ 'See other posts by ' ~ (author|capitalize) }}" 
                href="{{ new_base_url }}/author{{ config.system.param_sep }}{{ author }}" itemprop="url"><span class="name" itemprop="name" rel="author">{{ author|capitalize }}</span>
                {% if not loop.last %}, {% endif %}
            {% endfor %}
        </span>
        {% endif %}
                
    </p>
    {% if show_pagination %}
    <p class="align-center">
        {% if not page.isLast %}
                <a class="button" href="{{ page.prevSibling.url }}"><i class="fas fa-angle-left"></i> {{ 'Previous'|t }}</a>
        {% endif %}
        {% if not page.isFirst %}
            <a class="button" href="{{ page.nextSibling.url }}">{{ 'Next'|t }} <i class="fas fa-angle-right"></i></a>
        {% endif %}
    </p>
    {% endif %}
</article>
{% endblock %}
